
tr,td,th{
    text-align: center !important;
}
table{
    width:100%;
    table-layout: fixed;
    margin-top: 5%;
}
th{
    padding: 20px 15px;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
}
button{
    /* color: #ffffff;
    padding: 0.50rem 0.90rem;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    border-style: none; */
}
.edit{
    color: #33c58b;
    border-radius: 50px;
}
.warn{
    color: #EF4E59;
}
.edit:hover, .warn:hover{
    background-color: rgb(236, 236, 236);
}
button:active{
    transform: scale(0.9);
}
@media(max-width : 1200px){
    table{
        overflow: auto;
    }
}