.container{
    display: flex;
    height: 100vh;
    justify-content: center;
    margin : 0 auto;
    align-items: center;
}
form{
     display:flex;
    flex-direction: column;
    width: 30%;
    height: 30vh;
    justify-content: space-between;
    margin : 0 auto;
}
.button{
    background-color:#1e88e5;
    width: 50%;
    margin : 0 auto;
}
.subscribe-login{
    display: flex;
    flex-direction: column;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
}
.title{
    margin-top: 3%;
    text-align: center;
    font-size: 2rem;
}
