.container{
    width: 80%;
    margin : 0 auto;
}
.title{
    text-align: center;
    font-size: 25px;
    font-size: 2vw;
    margin: 5% 0 ;
}
.wrapper-card{
    display: flex;
    justify-content: space-between;
}
.card{
    color: white;
    height: 20vh;
    width: 30%;
}
.finished{
    background-color: #33C58B;
}
.progress{
    background: #3F51B5;
}
.canceled{
    background: #EF4E59;
}
.not-started{
    background: #efa94e;
}
.container-card{
    margin : 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height : 25vh;
}
.count{
    margin-bottom : 10%;
}
.count{
    font-size: 35px;
    font-size: 6vw;
    font-weight: 300; 
    text-align: center;
}
table{
    width:100%;
    table-layout: fixed;
    margin-top: 5%;
    margin-bottom : 5%;
}
tr{
    max-width: 200px;
}
th{
    padding: 20px 15px;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
}

tr,td,th, span{
    text-align: center !important;
}
span{
    text-align: center;
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    margin-left: 35%;
}