.title, .name, .description{
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 90%;
    margin: 0 auto;
    margin-top: 3rem;
}
.wrapper-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3rem;
}
.card{
    width: calc(100% / 4);
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.31);
    margin-bottom: 2rem;
    max-height: 60vh;
    overflow: auto;
}
.small{
    max-height: 40vh !important;
}
.wrapper{
    width: 95%;
    margin: 0 auto;
}
.title{
    padding-top: 1.50rem;
    padding-bottom: 1.50rem;
    color: #0F4C81;
    font-size: 1.20rem;
    font-weight: bold;
    border-bottom: solid 1px rgb(218, 218, 218);
}

.title-card-small{
    color: #0F4C81;
    font-size: 1.20rem;
    font-weight: bold;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.name{
    color: #0F4C81;
}
.processo{
    color: #3F51B5;
}
.iniciado{
    color: #EFA94E;
}
.Cancelado{
    color: #E8505B;
}
.Finalizado{
    color: #33C58B;
}
.wrapper-elements{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: solid 1px rgb(218, 218, 218);
}
.icon-texts{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.finished, .edit{
    color: #33C58B;
}
.icon{
    margin-right: 1.25rem !important;
}
.warn{
    color: #E8505B;
}
.name{
    font-size: 1.15rem;
    font-weight: 500;
}
.description{
    color: rgb(139, 139, 139);
}
.compare{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.15rem;
}
.left{
    display: flex;
    width: 50%;
    align-items: center;
}
.circle{
    font-size: 1.10rem;
    margin-right: 1rem;
}
.porc{
    display: flex;
    align-self: flex-end;
}
.bottom-bar{
    width: 100%;
    height: 0.75rem;
    border-radius: 50px;
    display: flex;
    align-items: stretch;
    margin-bottom: 1.50rem;
}
.bar{
    height: 0.75rem;
    width: 0;
    border-radius: 50px;
    -webkit-transition: width .7s ease-in-out;
    -moz-transition: width .7s ease-in-out;
    -o-transition: width .7s ease-in-out;
    transition: width .7s ease-in-out;
}
.finalizado-circle{
    background-color: rgb(51,197,139, .3);
}

.processo-circle{
    background-color: rgb(63,81,181, .3);
}

.cancelado-circle{
    background-color: rgb(239,78,89, .3);
}

.iniciado-circle{
    background-color: rgb(239,169,78, .3);
}


.finalizado-bar{
    background-color: rgb(51,197,139);
}

.processo-bar{
    background-color: rgb(63,81,181);
}

.cancelado-bar{
    background-color: rgb(239,78,89);
}

.iniciado-bar{
    background-color: rgb(239,169,78);
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgb(207, 207, 207); 
  border-radius: 12px;
}
::-webkit-scrollbar-thumb {
  background: rgb(201, 201, 201); 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #6d6c6c; 
}
@media(max-width : 1200px){
    .card{
        width: 100%;
    }
    .wrapper-container{
        flex-direction: column;
    }
}