<div class="container">
  <h1>Cadastre sua tarefa!</h1>

  <form class="add-task" [formGroup]="formulary" (ngSubmit)="addTask()">


    <div class="wrapper-inputs">
      <div class="input-form">
        <label for="name">Nome</label>
        <input type="text" name="name" id="name" formControlName="name" placeholder="Nome" required>
      </div>

      <div class="input-form">
        
        <label for="importance">Importância</label>
        <select type="text" name="importance" id="importance" formControlName="importance">
          <option value="Sem importancia" selected>Sem muita importância</option>
          <option value="Importante">Importante</option>
          <option value="Urgente">Urgente</option>
        </select>
      </div>
      
    </div>

    <div class="wrapper-inputs">
      
      <div class="input-form">
        <label for="data">Selecione a data</label>
        <input type="date" formControlName="data" required name="data" id="data">
      </div>
      
      <div class="input-form">
        <label for="isFinished">Selecione a condição</label>
        <select name="isFinished" id="isFinished" formControlName="isFinished">
          <option value="Não iniciado">Não iniciado</option>
          <option value="Finalizado">Finalizado</option>
          <option value="Em processo">Em processo</option>
          <option value="Cancelado">Cancelado</option>
        </select>
      </div>
    </div>
      
    <div class="input-form">
      <label for="description">Descrição</label>
      <input type="text" name="description" id="description" formControlName="description" placeholder="Descrição" required>
    </div>
    </form>
  </div>
  <mat-dialog-actions class="dialog">
    <button class="close" mat-dialog-close >Cancelar</button>
    <button class="create" cdkFocusInitial (click)="addTask()" [mat-dialog-close]="tasks">Cadastrar</button>
  </mat-dialog-actions>
<!-- [disabled]="!formulary.valid" -->