.container{
    background: #006FFE; 
}
.wrapper{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem;
}
.title{
    color : #FFF;
    font-size: 1.50rem;
}
.options-user{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.photo{
    margin-right: 2rem;
    background-image: url(../../../assets/eu.jpg);
    background-repeat: no-repeat;
    background-attachment: center center;
    background-size: cover;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    
}
.name{
    color: #FFF;
}
.menu{
    color: #FFF;
}
.menu:hover{
    cursor: pointer;
}
.options{
   display: flex;
   align-self: center;
   border-radius: 50px;
   margin-left: 1.05rem;
   color: white;
}
.options:hover{
    background-color: #005dd6; 
    cursor: pointer;
}
@media(max-width: 1200px){

    .gamb{
        display: block;
    }

}