<div class="container">
    <div class="wrapper">
        <div class="menu" (click)="toggleSideBar()"><mat-icon>menu</mat-icon></div>
        <div class="title">{{title}}</div>
        <div class="options-user">
            
                <div class="photo"></div>
                <div class="name">{{nameUser}}</div>
                <div class="options">
                    <mat-icon [matMenuTriggerFor]="menu">keyboard_arrow_down</mat-icon>
                </div>
                  
                  <mat-menu #menu="matMenu" xPosition="before">
                    <div class="logout" mat-menu-item (click)="logoutUser()">Logout</div>
                  </mat-menu>
        </div>
    </div>
</div>

<!-- <div class="container">
    <div class="header">
        <div class="title">{{title}}</div>
        <div class="items" *ngIf="logout">
            <div class="name">{{nameUser}}</div>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu do Usuário">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">

                <button mat-menu-item routerLink="/user/infos" routerLinkActive="selected">
                    <mat-icon>info</mat-icon>
                    <span>Informações</span>
                </button>

                <button mat-menu-item routerLink="/tasks" routerLinkActive="selected">
                    <mat-icon>library_books</mat-icon>
                    <span>Todas tarefas</span>
                </button>

                <button *ngIf="adm" mat-menu-item #tooltip="matTooltip" routerLink="/users/data" routerLinkActive="selected"
                matTooltip="Em breve!"
                matTooltipHideDelay="100" >
                    <mat-icon>dashboard</mat-icon>
                    <span>Dados do Aplicativos</span>
                </button>

                <button mat-menu-item (click)="logoutUser()">
                    <mat-icon>login</mat-icon>
                    <span>Logout</span>
                </button>

            </mat-menu>
           </div> 
    </div>
</div> -->