<div class="wrapper">
    <!-- <div class="toggle-hide">
        <mat-icon >keyboard_arrow_left</mat-icon>
    </div> -->

    <div class="container">
    
        <div class="header-sideBar">
            <div class="title">MyTasks</div>
            <!-- <div class="arrow" (click)="close()"><div class="wrapper-arrow" [ngClass]="(closeTab == false)? 'turn' : 'turnOut'" ><i class="fas fa-chevron-left"></i></div></div> -->
            <button (click)="openDialogAdd()"><mat-icon>add</mat-icon>Adicionar tarefa</button>
        </div>
        
        <div class="options">
            <div class="option my-tasks" routerLinkActive="selected" (click)="changeTitle('Minhas tarefas')" routerLink="/page/tasks"><mat-icon class="icon">fact_check</mat-icon> Minhas tarefas</div>
            <div class="option dashboard" routerLinkActive="selected" (click)="changeTitle('Dashboards')" routerLink="/page/dashboards"><mat-icon class="icon">dashboard</mat-icon> Dashboards</div>
            <div class="option profile" routerLinkActive="selected" (click)= "changeTitle('Meu perfil')" routerLink="/page/profile"><mat-icon class="icon">manage_accounts</mat-icon> Meu perfil</div>
        </div>

        
        <div class="svg">
            <img src="../../../assets/side-bar.svg" alt="">
        </div>
    </div>
    
</div>