.container{
    /* width: 20%; */
    background: #FFF;
    height: 100vh;
    display: grid;
    grid-template-columns: 12fr;
    grid-template-rows: 3fr 6fr 3fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    /* left : 0;
    transition: all 0.3s; */
}
/* .wrapper{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
} */
.header-sideBar{
    display:flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    justify-content: space-around;
    margin : 0 auto;
}
.header-sideBar > .title{
    font-size: 28px;
    font-weight: bold;
    color: #0F4C81;
    margin: 1.25rem 0;
}
.arrow{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.arrow > .wrapper-arrow{
    border-radius: 50px;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF;
    box-shadow: 1px 1px 10px -2px rgba(0,0,0,0.31);
    margin-right: -18%;
    /* transform: rotateX(180deg); */
}
.arrow > .wrapper-arrow:hover{
    cursor: pointer;
}

.wrapper-arrow > i{
    color: #006FFE;
    font-size: large;
}
button{
    width: 100%;
    padding: 1rem;
    background-color: #2680EB;
    color: #ffffff;
    border-style: none;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    margin-bottom: 1.25rem;
}
button > fa-icon{
    margin-right: 1.25rem;
}
button:hover{
    background-color: #2571cf;
}
.options{
    display:flex;
    flex-direction: column;
    margin: 2.90rem 0;
}
.option{
    padding: 1.50rem;
    color: #A8ACB1;
    outline: none;
}
.option:hover{
    background: #F2F4F8;
    cursor: pointer;
}
.option > fa-icon{
    margin-right: 1.50rem;
}
.selected{
    border-left-style: solid;
    border-left-color: #2571cf;
    border-left-width: 7px;
    background: #F2F4F8;
    color: #2571cf;
}
.svg{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
}

/* .close{
    position: absolute;
    width: 10%;
    transition: width 0.3s;
    z-index: 2;
}  */

/* .turn{
    transition: all ease .2s;
    transform: rotate(180deg);
}
.turnOut{
    transition: all ease .2s;
    transform: rotate(0deg);
}
.close-options{
    display:none;
} */