.container{
    width: 100%;
    background: #FFF;
    height: 100vh;
    display: grid;
    grid-template-columns: 12fr;
    grid-template-rows: 3fr 6fr 3fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    left: 0;
    position: relative;
    transition: ease left .2s;
}

.button-toggle{
    display: none;
}
/* .wrapper{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
} */
.header-sideBar{
    display:flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    justify-content: space-around;
    margin : 0 auto;
}
.header-sideBar > .title{
    font-size: 28px;
    font-weight: bold;
    color: #0F4C81;
    margin: 1.25rem 0;
}
.arrow{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.toggle-hide{
    border-radius: 50px;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF;
    box-shadow: 1px 1px 10px -2px rgba(0,0,0,0.31);
    color: #006FFE;
    font-size: large;
    position: absolute;
    left: 245px;
    top: 2.5%;
    z-index: 10;
    transition: ease left .2s;
}
.toggle-hide:hover{
    cursor: pointer;
}
.toggle > mat-icon{
    transform: rotate(180deg);
}
.toggle{
    padding: 0 1.25rem;
    left: -1%;
}
.toggle:hover{
    margin-left: 0.5%;
    transition: all ease .3s
}
mat-icon{
    transition: ease .3s;
}
button{
    width: 100%;
    padding: 1rem;
    background-color: #2680EB;
    color: #ffffff;
    border-style: none;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    margin-bottom: 1.25rem;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
}
button > mat-icon{
    font-size: 1.55rem;
    margin-right: 1.25rem;
}
button:hover{
    background-color: #2571cf;
}
button:active{
    transform: scale(0.9);
}
.options{
    display:flex;
    flex-direction: column;
    margin: 2.90rem 0;
}
.option{
    padding: 1.50rem;
    color: #A8ACB1;
    outline: none;
    display : flex;
    align-items : center;
    
}
.option:hover{
    background: #F2F4F8;
    cursor: pointer;
}
.icon{
    font-size: 1.55rem;
    margin-right: 1.50rem;
}
.selected{
    border-left-style: solid;
    border-left-color: #2571cf;
    border-left-width: 7px;
    background: #F2F4F8;
    color: #2571cf;
}
.svg{
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
}
.close{
    position: absolute;
    left: -500px;
}
.open{
    left: 200px;
}
.container-close{
    left: -100%;
    transition: left ease-in .2s;
}
.hide{
    display: none;
}
@media(max-width: 1200px){


}