<div class="container add-task">
  
    <mat-form-field appearance="fill" >
      <mat-label >Nome</mat-label>
      <input matInput type="text" [(ngModel)]="tasks.name" name="name" placeholder="Nome" >
      <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
      <mat-error>Nome não pode ser vazio</mat-error>
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Descrição</mat-label>
      <input matInput type="text" [(ngModel)]="tasks.description" name="description" placeholder="Descrição" />
      <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
      <mat-error>Descrição não pode ser vazio</mat-error>
    </mat-form-field>
  
    <mat-form-field color="accent" appearance="fill">
      <mat-label>Selecione a data</mat-label>
      <input matInput [matDatepicker]="picker2" [(ngModel)]="tasks.data" required>
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2 color="primary"></mat-datepicker>
      <mat-error >A data tem que ser válida</mat-error>
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Processo</mat-label>
      <mat-select [(ngModel)]="tasks.isFinished">
        <mat-option value="Não iniciado" selected>Não iniciado</mat-option>
        <mat-option value="Finalizado">Finalizado</mat-option>
        <mat-option value="Em processo">Em processo</mat-option>
        <mat-option value="Cancelado">Cancelado</mat-option>
      </mat-select>
      <mat-error>Não pode ser vazio!</mat-error>
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Importância</mat-label>
      <mat-select [(ngModel)]="tasks.importance">
        <mat-option value="Sem importancia" >Sem muita importância</mat-option>
        <mat-option value="Importante" selected>Importante</mat-option>
        <mat-option value="Urgente">Urgente</mat-option>
      </mat-select>
      <mat-error>Não pode ser vazio!</mat-error>
    </mat-form-field>
    
    <mat-dialog-actions class="dialog">
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button  cdkFocusInitial (click)="update()" [mat-dialog-close]="tasks">Atualizar</button>
    </mat-dialog-actions>
  </div>