.infos{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70vh;
    justify-content: space-around;
}
.input-form{
    width: 80%;
    margin : 0 auto;
    display:flex;
    justify-content: space-between;
}
.input{
    width: 40%;
}
.button{
    background-color:#1e88e5;
    width: 20%;
    align-self: center;
    text-align: center;
}