<app-header></app-header>

<form class="infos" [formGroup]="formulary">

  <div class="input-form">
    <mat-form-field appearance="fill" class="input">
      <mat-label >Nome</mat-label>
      <input matInput type="text" formControlName="name" name="name" placeholder="Nome" required />
      <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
      <mat-error>Erro</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="input">
      <mat-label >Email</mat-label>
      <input matInput type="text" formControlName="email" name="email" placeholder="E-mail" required />
      <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
      <mat-error>Erro</mat-error>
    </mat-form-field>
  </div>

    <div class="input-form">
      <mat-form-field appearance="fill" class="input">
        <mat-label >CPF</mat-label>
        <input matInput type="text" formControlName="cpf" name="cpf" placeholder="cpf" required />
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        <mat-error>Erro</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="input">
        <mat-label >Senha</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" name="password" placeholder="password" required />
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        <mat-error>Erro</mat-error>
      </mat-form-field>
    </div>    
    <div class="input-form">
      <section class="example-section">
        <mat-slide-toggle
            color="primary"
            [checked]="isAdm"
            formControlName="isAdm"
            >
            É adminstrador?
        </mat-slide-toggle>
      </section>
      
      <button mat-raised-button color="primary" class="button" (click)="update()">Atualizar</button>  
    </div>
  </form>

  <app-card></app-card>
