<div class="container">
    <app-card></app-card>

    <!-- <div class="month-cards">
        <div class="container-card">
            <h1 class="title">Janeiro</h1>
            <div class="porc-desc">
                <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle cx="70" cy="70" r="70" style="stroke-dashoffset: calc(440 - (440 * 10) / 100 )"></circle>
                </svg>
                
                <div class="porc">
                    <h1>10%</h1>
                    <div class="desc">Completo</div>
                </div>
            </div>
    
            <div class="label">
                <span></span>
                <p>Tarefas finalizadas</p>
            </div>
    
        </div>
    </div> -->
    
</div>