.footer{
    display: flex;
    align-items: center;
    font-size: 15px;
    color: white;
    width: 80%;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 5%;
}
.container{
    background-color: #3F51B5;

}