.footer{
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    color: white;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 5%;
}
.container{
    background-color: #e91e63
}