<div class="container">
  <div class="wrapper-left">

    <div class="header">
      <div class="title-project">MyTasks</div>

      <div class="options">
        <a href="#">Sobre nós</a>
        <a routerLink="/subscribe">Cadastre-se!</a>
      </div>
    </div>
    <div class="draw">
      <object class="svg" data="../../../../assets/login-svg.svg"></object>
    </div>

  </div>
  <div class="wrapper-right">

    <div class="wrapper-login">

      <div class="title-login">Login</div>
      <p class="subtitle">Bem vindo de volta!</p>
      <div class="description">
        Faça seu login e mantenha sua vida organizada,<br />cadastrando e editando suas tasks!
      </div>
      <div class="error" *ngIf="error">
        Usuário e senha incorretos
      </div>
      <div class="input-form" [ngClass]="(error == true)? 'erro-input' : ''">

        <label for="email">Email</label>

        <input type="email" [(ngModel)]="user.email" id="email" name="email" placeholder="e-mail" required />
      </div>

      <div class="input-form" [ngClass]="(error == true)? 'erro-input' : ''">
        <label for="senha">Senha</label>
        <input type="password" [ngClass]="(error == true)? 'erro-input' : ''" [(ngModel)]="user.password"
          name="password" placeholder="Senha" required />
      </div>
      <div class="options-login">

        <div class="option-checkbox">
          <input type="checkbox" name="rememberMe" id="rememberMe" [(ngModel)]="rememberMe">
          <label class="label-remember" for="rememberMe">Lembre-se de mim</label>
        </div>

    

      <a href="">Esqueceu sua senha?</a>
      </div>
      <!-- <div class="option-checkbox">
        <input type="checkbox" name="rememberMe" id="rememberMe" [(ngModel)]="rememberMe">
        <label class="label-remember" for="rememberMe">Entrar como convidado</label>
      </div> -->

      <button (click)="login()">
        <span class="load" [ngClass]="(hide == false)? 'hide' : ''">
          <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
        </span>
        <span class="submit" [ngClass]="(hide == true)? 'hide' : ''">Entrar</span>
      </button>

      <div class="option-subs">
        Não possui conta? <a routerLink="/subscribe">Registre-se!</a>
      </div>
    </div>
  </div>
</div>