*{
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Roboto', sans-serif;
}
.container{
    background-color: #F2F4F8;
    display:flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}
.wrapper-left{
    width: 55%;
    
}

.header{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
}
.title-project{
    font-size: 28px;
    font-weight: bold;
    color: #0F4C81;
}

.options{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
}
.options > a{
    text-decoration: none;
    color: black;
}
.options > a:hover{
    text-decoration: underline;
    text-decoration-color: #2680EB;
    color: #2680EB;
}
.draw{
    margin-top: 20%;
    display:flex;
    align-items: center;
    justify-content: center;
}
/* -------------------------------------------- WRAPPER RIGHT -------------------------------------------- */


.wrapper-right{
    background: white;
    width: 45%;
}

.wrapper-login{
    width: 70%;
    margin : 0 auto;
}
.title-login{
    margin-top: 5rem;
    margin-bottom: 4rem;
    font-size: 25px;
    font-weight: bold;
    color: #0F4C81;
}
.subtitle{
    font-size: 18px;
    color: #0F4C81;
    /* word-spacing: 0px; */
    margin-bottom: 4%;
    font-weight: 500;
}

.description{
    padding-top: 2%;
    padding-bottom: 4%;
    border-bottom-style: solid;
    border-bottom-color: #CFCFCF;
    border-bottom-width: thin;
    word-spacing: 1px;
}

.input-form{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}
.input-form > label{
    padding-bottom: 0.5rem;
}
.input-form > input{
    border-width: 0.36px;
    border-color: rgba(219, 219, 219, 0.36);
    box-shadow: 5px 5px 3px -2px rgba(0,0,0,0.31);
    padding: 1rem;
    border-radius: 3px;
}
.input-form input:focus{
    outline: none;
    border-color: #2680EB ;
}
.options-login{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}
button{
    width: 100%;
    padding: 1rem;
    background-color: #2680EB;
    color: #ffffff;
    border-style: none;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
}
button:hover{
    background-color: #2571cf;;
}
button:active{
    transform: scale(0.9);
}
.option-subs{
    padding-top: 1rem;
    text-align: center;
    color : #B9B9B9;
}
.wrapper-right a{
    color: #2680EB;
}
.label-remember{
    color : #B9B9B9;
}
.error{
    color: #EF4E59;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #EF4E59;
    background-color: #ef4e5981;
}
.erro-input label{
   color : #EF4E59;
}
.erro-input input{
    border: solid;
    border-color: #EF4E59;
    border-width: thin;
}
.hide{
    display: none; 
}

/* -----------------------------------------LOADER----------------------------------------- */

.lds-ring {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    margin: 5px;
    border: 3px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

/* -----------------------------------------LOADER----------------------------------------- */

@media(max-width : 1200px){
    .container{
        display: flex;
        flex-direction: column; 
        background: none;
    }
    .wrapper-left{
        width: 100%;
        margin: 0 auto;
        background: rgb(242,244,248);
        background: -moz-linear-gradient(90deg, rgba(242,244,248,1) 91%, rgba(255,255,255,1) 100%);
        background: -webkit-linear-gradient(90deg, rgba(242,244,248,1) 91%, rgba(255,255,255,1) 100%);
        background: linear-gradient(90deg, rgba(242,244,248,1) 91%, rgba(255,255,255,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f2f4f8",endColorstr="#ffffff",GradientType=1);
    }
    .options{
        width: 50%;
    }
    .wrapper-right{
        width: 100%;
    }
    .wrapper-login{
        margin-bottom: 1.95rem;
    }
    .title-login{
        margin-top: 3rem;
    }
    .draw{
        width: 90%;
        margin: 0 auto;
    }

}