<div class="container">
    <div class="sidebar"><app-sidebar></app-sidebar></div>
    <div class="header-content">
      <app-header></app-header>
      <div class="content">
        <div class="photo">R</div>
            
        <div class="form">
            <div class="input-form">
                <label for="name">Nome completo</label>
                <input type="text" name="name" />
            </div>

            <div class="wrapper-inputs">

                <div class="input-form">
                    <label for="name">Senha</label>
                    <input type="text" name="name" />
                </div>

                <div class="input-form">
                    <label for="name">CPF</label>
                    <input type="text" name="name" />
                </div>

            </div>

            <div class="input-form">
                <label for="name">Email</label>
                <input type="text" name="name" />
            </div>

            
            <div class="wrapper-inputs">

                <div class="input-form">
                    <label for="name">Data de nascimento</label>
                    <input type="text" name="name" />
                </div>

                <div class="input-form">
                    <label for="name">Gênero</label>
                    <input type="text" name="name" />
                </div>

            </div>

            <button>Atualizar</button>

        </div>
      </div>
    </div>
  </div>