<!-- <app-header></app-header> -->

<div class="container">
    <div class="title">Tarefas do mês de {{month}}</div>

   <div class="wrapper-card">

        <div class="card finished mat-elevation-z5">
            <div class="container-card">
                <div class="count">{{finishedTasks}}</div>
                <p>Tarefas finalizadas</p>
            </div>
        </div>

        <div class="card canceled mat-elevation-z5">
            <div class="container-card">
                <div class="count">{{canceledTasks}}</div>
                <p>Tarefas Canceladas</p>
            </div>
        </div>

        <div class="card progress mat-elevation-z5">
            <div class="container-card">
                <div class="count">{{progressTasks}}</div>
                <p>Tarefas Em processo</p>
            </div>
        </div>

        <div class="card not-started mat-elevation-z5">
            <div class="container-card">
                <div class="count">{{notStartedTasks}}</div>
                <p>Tarefas Não iniciadas</p>
            </div>
        </div>
    </div>

    <!-- <app-table></app-table> -->
  
    <app-button-add-task></app-button-add-task>
</div>

<!-- <ng-container matColumnDef="status">
  <th mat-header-cell *matHeaderCellDef> Status </th>
  <td mat-cell *matCellDef="let task">
    <span *ngIf="task.isFinished == 'Finalizado'" class="finished"></span>
    <span *ngIf="task.isFinished == 'Cancelado'" class="canceled"></span>
    <span *ngIf="task.isFinished == 'Em processo'" class="progress"></span>
    <span *ngIf="task.isFinished == 'Não iniciado'" class="not-started"></span>
  </td>
</ng-container> -->

<!-- <app-footer></app-footer> -->