.dialog {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.container{
    width: 100%;
    margin : 0 auto;
}
h1{
    text-align: center;
}
.add-task{
    display : flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
}
.wrapper-inputs{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.input-form{
    display:flex;
    flex-direction: column;
    width: 100%;
}
.wrapper-inputs > .input-form{
    width: 40%;
}

.input-form > label{
    padding-bottom: 0.5rem;
    margin-top: 2rem;
}
.input-form > input, select{
    border-width: 0.36px;
    border-color: rgba(219, 219, 219, 0.36);
    box-shadow: 5px 5px 3px -2px rgba(0,0,0,0.31);
    padding: 1rem;
    border-radius: 3px;
}
.input-form input:focus, select:focus{
    outline: none;
    border-color: #2680EB ;
}
button{
    width: 35%;
    padding: 1rem;
    background-color: #E8505B;
    color: #ffffff;
    border-style: none;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    margin-top: 2rem;
    
}
button:hover{
    background-color: #ca444d;
}
button:active{
    transform: scale(0.9);
}
.close{
    background-color: #686868;
    margin-right: 2rem;
}
.close:hover{
    background-color: #5a5a5a;
}