     <div class="container">
      <h1>Deletar tarefa</h1>
    
      <div class="add-task">
    
    
        <div class="wrapper-inputs">
          <div class="input-form">
            <label for="name">Nome</label>
            <input type="text" name="name" id="name" [(ngModel)]="tasks.name" placeholder="Nome" disabled>
          </div>
          
          <div class="input-form">
            <label for="importance">Importância</label>
            <input type="text" [(ngModel)]="tasks.importance" name="importance" placeholder="Importância" disabled/>
          </div>

        </div>
    
        <div class="wrapper-inputs">
          <div class="input-form">
            <label for="data">Selecione a data</label>
            <input type="date" [(ngModel)]="tasks.data" disabled name="data" id="data">
          </div>
          
          <div class="input-form">
            <label for="isFinished">Selecione a condição</label>
            <input type="text" [(ngModel)]="tasks.isFinished" disabled name="isFinished" id="isFinished">
          </div>
        </div>
          
        <div class="input-form">
            
          <label for="description">Descrição</label>
          <input type="text" name="description" id="description" [(ngModel)]="tasks.description" placeholder="Descrição" disabled>
        </div>
        

        </div>
    </div>
    <mat-dialog-actions class="dialog">
      <button class="close" mat-dialog-close>Cancelar</button>
      <button class="delete" cdkFocusInitial (click)="delete()" mat-dialog-close>Deletar</button>
    </mat-dialog-actions>
  