
<app-header></app-header>
<div >
  
<h1 class="tasks" i18n>Cadastre uma tarefa</h1>
  <form class="container add-task" [formGroup]="formulary" (ngSubmit)="addTask()">
    <mat-form-field appearance="fill" color="accent">
      <mat-label i18n>Nome</mat-label>
      <input matInput type="text" formControlName="name" name="name" placeholder="Nome" required>
      <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
      <mat-error i18n>Nome não pode ser vazio, nem conter números ou caracteres especiais</mat-error>
    </mat-form-field>
  
    <mat-form-field appearance="fill" color="accent">
      <mat-label i18n>Descrição</mat-label>
      <input matInput type="text" formControlName="description" name="description" placeholder="Descrição" required/>
      <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
      <mat-error i18n>Descrição não pode ser vazio, nem conter números ou caracteres especiais</mat-error>
    </mat-form-field>
  
    <mat-form-field appearance="fill" color="accent">
      <mat-label i18n>data</mat-label>
      <input matInput type="text" formControlName="data" name="data" placeholder="Data" required/>
      <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
      <mat-error i18n>Data não pode ser vazia</mat-error>
    </mat-form-field>
  
    <mat-form-field appearance="fill" color="accent">
      <mat-label i18n>Está finalizado?</mat-label>
      <input matInput type="text" formControlName="isFinished" name="isFinished" placeholder="Está finalizada?" required/>
      <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
      <mat-error i18n>Não pode ser vazio</mat-error>
    </mat-form-field>
  
    <mat-form-field appearance="fill" color="accent">
      <mat-label i18n>Importância</mat-label>
      <input matInput type="text" formControlName="importance" name="importance" placeholder="Importância" required/>
      <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
      <mat-error i18n>Descrição da importância não pode ser vazia</mat-error>
    </mat-form-field>
    
    <button mat-button [disabled]="!formulary.valid" class="button" i18n>Cadastrar</button>
  </form>
</div>

<section>
  <!--for demo wrap-->
  <h1 class="tasks" i18n>Suas Tarefas!</h1>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0">
      <thead>
        <tr>
          <th i18n>Nome</th>
          <th i18n>Descrição</th>
          <th i18n>Data</th>
          <th i18n>Está finalizado?</th>
          <th i18n>Importância</th>
          <th i18n>Editar</th>
          <th i18n>Deletar</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0">
      <tbody>
        <tr *ngFor="let tasks of allTasks">
          <td>{{tasks.name}}</td>
          <td>{{tasks.description}}</td>
          <td>{{tasks.data}}</td>
          <td>{{tasks.isFinished}}</td>
          <td>{{tasks.importance}}</td>
          <td><button mat-button (click)="openDialogUpdate(tasks.id)">Editar</button></td>
          <td><button mat-button (click)="openDialogDelete(tasks.id)">Deletar</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</section>
<app-footer></app-footer>