<app-header></app-header>

<div class="title">Tarefas registradas neste ano</div>
<div class="container">
  <div class="container-dashboard mat-elevation-z5">
      <div style="display: block">
        <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          [chartType]="barChartType">
        </canvas>
      </div>
    </div>

    <div class="container-dashboard minimum mat-elevation-z5">
      <!-- <div class="title">Quantidade de usuários registrados</div> -->
        <div style="display: block">
            <canvas baseChart
            [data]="pieChartData"
            [labels]="pieChartLabels"
            [chartType]="pieChartType"
            [options]="pieChartOptions"
            [colors]="pieChartColors"
            [legend]="pieChartLegend">
          </canvas>
        </div>
      </div>
  </div>

  <div class="title">Tarefas registradas em determinado mês</div>

  <!-- <div class="container">
    <div>
      <div style="display: block">
        <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [chartType]="barChartType2">
        </canvas>
      </div>
      <button mat-button mat-raised-button color="primary" (click)="randomize()">Update</button>
    </div>
  </div> -->