.container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-flow: wrap;
}
.wrapper-card{
    width: 20%;
    background: #FFF;
    padding-bottom: 2.50rem;
}
.card{
    width: 90%;
    margin: 0 auto;
}
.title{
    color: #0F4C81;
    font-size: 1.10rem;
    padding: 1.15rem 0;   
}

.mat-icon{
    font-size: 2.25rem;
    width: 3.55rem;
}
.number-icon{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    justify-self : center;
}
.number, i{
    font-size: 2.50rem;
}
.finished{
    color: #33C58B;
}
.progress{
    color: #3F51B5;
}
.progress > i, .not-started > i{
    font-size: 2rem;
}
.bg-color{
    color: #FFF;
}
.cancelled{
    color: #E8505B;
}
.not-started{
    color: #EFA94E;
}
@media(max-width:1200px){
    .container{
        display:flex;
        flex-direction: column;
    }
}
