<div class="container">
    <div class="wrapper-card">
        <div class="card">
            <div class="title">
                Tarefas finalizadas
            </div>
            <div class="number-icon">
                <div class="number">35</div>
                <div class="icon finished"><fa-icon [icon]="faCheck" class="bg-color"></fa-icon></div>
            </div>
        </div>
    </div>

   <div class="wrapper-card">
        <div class="card">
            <div class="title">
                Tarefas em andamento
            </div>
            <div class="number-icon">
                <div class="number">35</div>
               <div class="icon progress"><fa-icon [icon]="faRedo" class="bg-color"></fa-icon></div>
            </div>
        </div>
   </div>

   <div class="wrapper-card">
        <div class="card">
            <div class="title">
                Tarefas canceladas
            </div>
            <div class="number-icon">
                <div class="number">35</div>
                <div class="icon cancelled"><fa-icon [icon]="faTimes" class="bg-color"></fa-icon></div>
            </div>
        </div>
   </div>

   <div class="wrapper-card">
        <div class="card not-starteds">
            <div class="title">
                Tarefas não iniciadas
            </div>
            <div class="number-icon">
                <div class="number">35</div>
               <div class="icon not-started"><fa-icon [icon]="faPause" class="bg-color"></fa-icon></div>
            </div>
        </div>
   </div>
</div>