<div class="container">
    <div class="wrapper-card">
        <div class="card">
            <div class="title">
                Tarefas finalizadas
            </div>
            <div class="number-icon">
                <div class="number">{{finalizado}}</div>
                <mat-icon class="mat-icon finished">check_circle_outline</mat-icon>
            </div>
        </div>
    </div>

   <div class="wrapper-card">
        <div class="card">
            <div class="title">
                Tarefas em andamento
            </div>
            <div class="number-icon">
                <div class="number">{{emProcesso}}</div>
                <mat-icon class="mat-icon progress">autorenew</mat-icon>
            </div>
        </div>
   </div>
   

   <div class="wrapper-card">
        <div class="card">
            <div class="title">
                Tarefas canceladas
            </div>
            <div class="number-icon">
                <div class="number">{{cancelado}}</div>
                <mat-icon class="mat-icon cancelled">highlight_off</mat-icon>
            </div>
        </div>
   </div>

   <div class="wrapper-card">
        <div class="card not-starteds">
            <div class="title">
                Tarefas não iniciadas
            </div>
            <div class="number-icon">
                <div class="number">{{naoIniciado}}</div>
                <mat-icon class="mat-icon not-started">pause_circle_outline</mat-icon>
            </div>
        </div>
   </div>
</div>